# Database
MYSQL_ROOT_PASSWORD=changeme_root_password
MYSQL_DATABASE=BookstoreApp
MYSQL_USER=bookstore
MYSQL_PASSWORD=changeme_db_password

# Backend
ASPNETCORE_ENVIRONMENT=Production
CONNECTION_STRING=server=db;database=BookstoreApp;user=bookstore;password=changeme_db_password;

# Domain
DOMAIN=edicionesliber.com.ar
CERTBOT_EMAIL=admin@edicionesliber.com.ar
